
/*                                                             *
***                                                          ***
****                                                        ****
*****                                                      *****
*************_________Стили Shops_________*****************
*****                                                      *****
****                                                        ****
***                                                          ***
*                                                              */

p {
    padding: 0;
    margin: 0;
}
.allDeals__header h1 {
    margin-left: 0 !important;
}

.allDeals__header {
    display: block;
}
.filter-blockDeals {
    position: relative;
    display: flex;
    gap: 10px;
}
.filter-blockDeals__header-and-body {
    position: relative;
    width: 100%;
    z-index: 1000;
}
.filter-blockDeals__header {
    border-radius: 35px;
}
.filter-blockDeals__header-and-body.active .filter-blockDeals__header {
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: #f3f3f3;
}
.filter-blockDeals__header-and-body .filter-blockDeals__header,
.filter-blockDeals__header-and-body .filter-blockDeals__item {
    padding: 10px 25px;
    cursor: pointer;
    background: #f3f3f3;
}
.filter-blockDeals__header-and-body .filter-blockDeals__item:hover {
    background: #F3F3F3;
    transition: .3s ease-in-out;
}
.filter-blockDeals__body {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 0 0 5px 5px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.filter-blockDeals {
    width: auto;
}

.poroduct__list_all_deals {
    /*padding-right: 0 !important;*/
    /*padding-left: 30px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    min-height: 400px;
    padding: 0;
    position: relative;
}
.products__list_nopadding {
    padding: 0;
}
.product__title a, .product__title span, .product__title h1 {
    font-weight: 700;
    font-size: 18px;
    color: #262626;
    margin-top: 5px;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
}
.product__card {
    padding: 15px;
    background: #F3F3F3;
    border-radius: 10px;
    /*display: grid;*/
    /*grid-gap: 20px;*/
    /*grid-template-columns: 146px 1fr;*/
    margin: 0 0 0 0;
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
}
.shop_icon {
    position: unset;
    left: 20px;
}
.product__medium .shop_icon a img.product__card-shop_icon__img {
    object-fit: unset;
    width: 48px;
    height: auto;
}

.product__actions > a {
    margin: 0 0 0 0;
    background: #8F00FF;
    border-radius: 31px;
    font-size: 12px;
    padding: 4px 24px;
}
.product__medium .shop_icon  a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
}
.product__price {
    color: #22C55E;
    margin: 0 0 0 0;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.product__price span {
    color: #A3A3A3;
    margin: 0 0 0 0;
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
}
.product__medium {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__promocode {
    display: flex;
    padding: 0;
    border: 2px solid #adadad;
    font-size: 15px;
    color: #7B30E6;
    position: relative;
    overflow: hidden;
    margin: 0 0 0 5px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.socials {
    display: flex;
    width: 100%;
    height: 100%;
}
.product__promocode span {
    position: unset;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.product__promocode span:hover {
    background: #7b30e6;
}
.product__desc {
    width: 60%;
    flex: 0 0 auto;
    padding-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__medium a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    max-height: 100%;
    background: #FFFFFF;
    height: 210px;
}
.product__buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: unset;
    bottom: 0;
    left: 0;
    padding-left: 0;
    padding-top: 10px;
}
.product__title {
    margin: 0 0 0 0;
    width: 100%;
}
.product__published {
    display: none;
    color: #737373;
    font-size: 12px;
    margin: 2px 0 2px;
}
.content_card {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    margin: 10px 0;
    line-height: 17px;
}
.product__medium a img.product__card-a__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}
.aside__head {
    margin: 0 0 0 0;
    padding: 0 15px 0 0;
}

.aside__items_s {
    max-width: 3000px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.aside__block .aside__items_s {
    max-width: 300px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
}
.aside__block {
    padding: 0 15px 50px;
}
.filter-blockDeals__header-and-body.active svg {
    transform: rotate(-180deg);
    transition: .3s ease-in-out;
}
.filter-blockDeals__header-and-body svg {
    position: absolute;
    right: 15px;
    top: 10px;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
}


.aside__block_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 100%;
    padding: 30px 0;

}
.shop_icon img {
    width: 24px;
    height: auto;
}
.shop_icon span {
    font-size: 8px;
}
.deals__content {
    display: flex;
    justify-content: space-between;
}
.beauty_border {
    border: none;
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 5;
}
.hidden_pc {
    display: none;
}
.product__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
}
.product__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.product__promocode span svg * {
    stroke: #93979b;
}

.shop_description_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    border-top: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
}


.shop_description_block img {

}

.shop_desc {
    width: 750px;
    margin-left: 80px;
}

.shop_desc_title {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}

.shop_description p {
    font-size: 18px;
}
.product__card .shop_icon span {
    display: none;
}
.product__card .content_card {
    display: none;
}


/*------------------Daily Top-----------------*/
.product__aside {
    width: 350px;
    flex: 0 0 auto;
}
.deals__aside {
    width: 350px;
    flex: 0 0 auto;
}
.aside__block {
    padding: 0 0 0 20px;
    margin: 0 0 25px 20px;
    border-left: 2px solid #ECECEC;
}
.aside__head {
    text-align: left;
    font-weight: 700;
    margin: 10px 15px 20px 0;
    font-size: 28px;
    line-height: 118.52%;
    color: #000000;
}
.aside__item {
    display: flex;
    margin: 0 0 20px;
    /*border-bottom: 1px solid #dadada;*/
    border-radius: 10px;
}
.aside__pic {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    height: 136px;
    background-color: #F3F4F6;
    width: 108px;
    overflow: hidden;
}
.aside__pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
    padding: 0 7px;
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* min-width: 80%; */
    /* min-height: 80%; */
}
.aside__desc {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    padding: 0 0 0 10px;
}
.aside__caption {
    color: #A3A3A3;
}
.aside__title {
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
}
.product__medium a.page__back{
    display: none;
}
.beauty_border svg {
    width: 20px;
    height: 24px;
}
.product__medium a.action_fav {
    height: 40px !important;
}
a.company__item {
    display: flex;
    align-items: center;
}
a.company__item img {
    height: 30px;
}
a.company__item span {
    display: none;
}

/*------------------КОНЕЦ Daily Top-----------------*/


/*------------------Filter Daily Top-----------------*/
.filter-sort__sort {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 23px;
    margin: 0 auto;
    width: 100%;
    padding: 0 5px;
    height: 0;
    overflow: hidden;
}
.filter-sort__labels{

    overflow: hidden;
    border-radius: 10px;
    background: #ECEDEF;

}
.filter-sort__labels_items{
    display: flex;
    flex-direction: column;
    padding: 17px 0 0;
}
.filter-sort__sort label {
    position: relative;
    background: #ECEDEF;
    margin: 0;
    text-align: center;
    color: #4F5460;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px;
    border-top: 1px solid #E0E0E0;
    transition: .3s ease-in-out;
    opacity: 0;
}
.filter-sort__sort label.hover,
.filter-sort__sort label.active{
    background: #E0E0E0;
    transition: .3s ease-in-out;
}
.filter-sort__sort label input[type="radio"] {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
form.filter-form {
    display: flex;
    align-items: baseline;
}
.filter-price-discount {
    display: flex;
    align-items: center;
}
.filter__price,
.filter__discount {
    display: flex;
    align-items: center;
    padding: 0;
}
.poroduct__list_all_deals {
    position: relative;
}
.deals__content .noflex_deals {
    width: 100%;
}
.filter-sort__name {
    border-radius: 35px;
    background: #F3F4F6;
    padding: 10px 50px;
    color: #181818;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 256px;
    width: 100%;
    min-width: 256px;
    cursor: pointer;
    position: relative;
    z-index: 20;
}
.filter-sort__name svg {
    position: absolute;
    right: 15px;
    top: 8px;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
}
.filter-sort.active .filter-sort__name svg {
    transform: rotate(180deg);
    transition: .3s ease-in-out;
}
.filter__price p,
.filter__discount p {
    color: #181818;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding: 0 3px 0 0;
}
input.filter-price-discount__input {
    margin-left: 8px;
}
input.filter-price-discount__input {
    margin-left: 8px;
    border-radius: 35px;
    background: #F3F4F6;
    padding: 10px;
    width: 150px;
    text-align: center;
    outline: none;
    border: none;
}
.filter__submit {
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    outline: none;
    border: none;
    background: transparent;
    margin: 0 0 0 15px;
    cursor: pointer;
}
.filter {
    margin-bottom: 25px;
}
.filter-sort {
    position: relative;
    margin-right: 30px;
}
.filter__price svg, .filter__discount svg,
.filter__discount_inputs-footer,
.filter__discount_inputs-header{
    display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


@media screen and (max-width: 1440px) {
    .filter-sort__name {
        max-width: 200px;
        min-width: 200px;
    }
}
@media screen and (max-width: 1200px) {
    .filter-sort__sort label {
        font-size: 14px;
    }
    .filter-sort__name {
        max-width: 187px;
        min-width: 187px;
        font-size: 14px;
    }
    .filter__price p, .filter__discount p {
        font-size: 18px;
    }
    /*.filter__price, .filter__discount {*/
    /*    padding: 0 0 0 20px;*/
    /*}*/
    input.filter-price-discount__input {
        width: 120px;
    }
    .filter__submit {
        font-size: 14px;
        margin: 0 0 0 15px;
    }
}

@media screen and (max-width: 992px) {

    .filter-price-discount .filter__submit {
        display: none;
    }
    .filter__price_name,
    .filter__discount_name{
        border-radius: 35px;
        background: #F3F4F6;
        padding: 10px;
        color: #181818;
        text-align: center;
        width: 100%;
        cursor: pointer;
        position: relative;
        /*z-index: 20;*/
    }
    .filter__price p, .filter__discount p {
        font-size: 14px;
    }

    .filter-price-discount {
        width: 100%;
    }
    .filter__price svg, .filter__discount svg {
        display: block;
        position: absolute;
        right: 15px;
        top: 8px;
        transform: rotate(0deg);
        transition: .3s ease-in-out;
    }
    main.container {
        position: unset;
    }
    .filter__price_block, .filter__discount_block {
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.27);
        z-index: 9999;
    }
    .filter__discount_list {
        max-width: 567px;
        width: 100%;
        background: #ECEDEF;
        padding: 20px 30px 30px 30px;
    }
    .filter__price .filter__discount_inputs-header p,
    .filter__discount .filter__discount_inputs-header p {
        color: #2C2C2C;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
        width: 100%;
    }
    .filter__discount_inputs-header .filter__discount_block-exit {
        position: absolute;
        cursor: pointer;
    }
    .filter__discount_inputs-footer {
        display: block;
    }
    .filter__discount_list {
        position: relative;
    }
    .filter__discount_block-exit svg {
        position: unset;
    }
    .filter-price-discount .filter__discount_inputs-header .filter__submit {
        display: block;
        position: absolute;
        right: 0;
    }
    .filter__discount_inputs-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
    }
    input.filter-price-discount__input {
        width: 50%;
        margin: 0 0 0 0;
    }
    .filter__discount_inputs,
    .filter__price_inputs{
        display: flex;
        gap: 10px;
    }
    .filter__discount_inputs-footer-btn {
        border-radius: 67px;
        background: #7B30E6;
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px;
        margin-top: 10px;
        cursor: pointer;
    }
    .filter__price_block, .filter__discount_block {
        display: none;
    }
    .filter-sort {
        margin-right: 10px;
    }
    .filter__price, .filter__discount {
        width: 100%;
    }
}
@media screen and (max-width: 567px) {
    form.filter-form {
        flex-direction: column;
    }
    .filter-sort {
        width: 100%;
    }
    .filter-sort__name {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
    .filter__price, .filter__discount {
        padding: 0;
    }
    .filter-price-discount {
        gap: 10px;
    }
    .filter {
        margin-bottom: 15px;
    }
    .filter__price_name, .filter__discount_name, .filter-sort__name {
        padding: 10px 10px 10px 15px;
    }
    .filter__price p, .filter__discount p, .filter-sort__name {
        font-size: 12px;
        text-align: left;
    }
    .filter__price, .filter__discount {
        width: 50%;
    }
}
/*------------------КОНЕЦ filter Daily Top-----------------*/


/*=========================================================*/
/*========================АДАПТИВ==========================*/
/*=========================================================*/
@media screen and (max-width: 1700px) {
    .product__price {
        font-size: 13px;
    }
    .product__price span {
        font-size: 11px;
    }
    .product__title a, .product__title span, .product__title h1 {
        font-size: 18px;
    }
    .product__card {
        grid-template-columns: 110px 1fr;
    }
    .product__card {
        grid-gap: 10px;
    }
}
@media screen and (max-width: 1440px) {
    .poroduct__list_all_deals {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1200px) {
    .poroduct__list_all_deals {
        width: 100%;
    }
    .product__buttons {
        margin-top: 0;
    }

    .product__aside {
        width: 30%;
    }
}
@media screen and (max-width: 992px) {
    .poroduct__list_all_deals {
        padding-right: 0 !important;
        padding-left: 0;
    }
    .aside__block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        margin: 0;
        border-left: none;
    }
    .aside__block_item {
        width: 100%;
        margin-bottom: 20px;
    }

    .aside__block .aside__items_s{
        max-width: 100%;
    }
    .deals__content .products__list {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .product__medium {
        width: 100%;
        height: 300px;
    }
    .product__desc {
        width: 100%;
        padding-left: 0;
    }
    .product__actions {
        justify-content: flex-start;
    }
    .product__medium a {
        height: 100%;
    }
    .product__card {
        flex-wrap: wrap;
    }
    .product__actions {
        width: 100%;
    }
    .product__actions > a {
        margin: 0 10px 0 0;
        width: 100%;
    }

    .product__aside {
        width: 100%;
    }

    .aside__items {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .aside__block .aside__items {
        width: calc(100% + 10px);
        margin-left: -5px;
    }

    .aside__item {
        background: #F3F4F6;
    }

    .aside__pic {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        background: #FFFFFF;
    }
    .deals__content {
        flex-direction: column;
    }
    .deals__aside {
        width: 100%;
        margin-top: 40px;
    }

    .aside__items {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .aside__items > div {
        width: calc(50% - 5px);
    }
}
@media screen and (max-width: 768px){
    .allDeals__header {
        flex-wrap: wrap;
    }
    .filter-blockDeals {
        width: 100%;
        height: 42px;
        margin-bottom: 30px;
        display: flex;
        justify-content: right;
    }
    .filter-blockDeals__header-and-body {
        width: 100%;
    }
    .aside__block {
        background: #F3F3F3;
        border-radius: 5px;
        padding: 15px 15px;
        margin: 0 0 25px;
    }
    .aside__head {
        font-size: 15px;
    }
    .filter-blockDeals__header-and-body .filter-blockDeals__header,
    .filter-blockDeals__header-and-body .filter-blockDeals__item {
        padding: 7px 10px;
    }
    .filter-blockDeals__header-and-body svg {
        right: 8px;
        top: 8px;
    }
    .aside__head {
        padding: 10px 15px 10px 0;
        min-width: 100px;
    }
    .product__card {
        width: 100%;
    }
    .product__card {
        padding: 10px;
    }
    .hidden_pc {
        display: none;
    }
    .hidden_mobile {
        display: block;
    }
    .product__title a, .product__title span, .product__title h1 {
        height: auto;
    }
    .shop_icon {
        width: auto;
    }
    .product__medium a img {
        max-width: max-content;
    }
    .aside__block_item {
        flex-direction: column;
    }
    .aside__items_s {
        padding: 0 0 10px 0;
    }
    .aside__block_item {
        margin-bottom: 0;
        padding: 10px 0 0 0;
    }
    .product__actions {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .product__actions .btn {
        width: 100%;
        margin: 0px 0 0;
        order: 2;
        font-size: 10px;
        padding: 3px 8px;
    }
    .product__author {
        width: auto;
        order: 2;
    }

    .aside__block {
        background: none;
        border-radius: unset;
        padding: 0;
        margin: 35px 0 25px;
        gap: 0;
    }

    .products .slick-arrow, .aside__block .slick-arrow {
        top: -42px;
        background: transparent;
        border-radius: 0;
        display: none;
    }

    .products .slick-prev, .aside__block .slick-prev {
        right: 24px;
        left: auto;
    }
    .products .slick-next, .aside__block .slick-next {
        right: 0;
    }

    .aside__head {
        text-align: left;
    }

    .h2_parody,
    .h2_parody a,
    .aside__head{
        font-size: 18px;
        line-height: 22px;

    }
    .h2_parody ,
    .aside__head{
        margin: 0;
    }

    .aside__item {
        flex-direction: column;
        border: none;
        margin: 5px 5px 5px;
        padding: 13px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
    }

    .aside__items {
        display: block;
    }

    .aside__pic {
        width: 100%;
        /*margin: 0 0 15px;*/
    }

    .aside__desc {
        justify-content: flex-start;
        width: 100%;
        padding: 15px 0 0 0;
    }

    .aside__title {
        font-size: 14px;
        font-weight: 500;
        -webkit-line-clamp: 2;
        height: 34px;
    }

    .product__name_compact a ,
    .aside__title{
        font-size: 10px;
        line-height: 120%;
        height: 24px;
    }

    .shop_description_block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        border-top: 2px solid #ECECEC;
        border-bottom: 2px solid #ECECEC;
    }


    .shop_description_block img {
        width: 65px;
    }

    .shop_desc {
        width: 210px;
        margin-left: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .shop_desc_title {
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 7px;
    }

    .shop_description p {
        font-size: 8px;
    }
    .aside__items > div {
        width: 100%;
    }
    .aside__block .aside__items button {
        display: none !important;
    }
    .deals__aside {
        margin-top: 10px;
    }
}

@media screen and (max-width: 567px) {
    .deals__content {
        display: block;
    }

    .deals__content .products__list {
        grid-template-columns: 1fr 1fr;
    }
    .hidden_mobile {
        display: none;
    }
    .product__card {
        grid-template-columns: 1fr;
    }
    .hidden_pc {
        display: block;
    }
    .product__buttons {
        padding-top: 0;
    }
    .product__actions > a {
        border-radius: 8px;
    }
    .product__promocode {
        border-radius: 8px;
    }
    .product__published {
        display: block;
    }
    .product__title a, .product__title span, .product__title h1 {
        margin-top: 10px;
        -webkit-line-clamp: 2;
    }
    .product__medium,
    .product__desc{
        width: 100%;
    }
    .product__medium {
        height: 200px;
    }
    .product__desc {
        padding-left: 0;
    }

    .product__name_compact a,
    .aside__title{
        font-size: 11px;
    }

    .product__medium a.page__back {
        height: auto;
        position: absolute;
        top: -25px;
        display: block;
        z-index: 10;
    }

    .product__medium a.action_fav {
        height: 30px !important;
        width: 30px;
    }
}