.reg__block {
    display: grid;
    align-items: center;
    justify-content: center;
}
.back_img_reg {
    width: 770px;
    height: 580px;
    margin: 20px;
    background-image: url(../../images/alert_push.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img_push_reg {
    position: relative;
    left: 210px;
    top: 20px;
    width: 220px;
}
.registr_title {
    text-align: center;
    margin: 30px 0 0 0;
}
.reg__form {
    border-radius: 15px;
    padding: 30px;
    width: 770px;
    height: 580px;
    display: flex;
    justify-content: space-evenly;
}
.tabs_push {
    /* border-bottom: 1px solid #D4D4D4; */
    margin: 0 0 40px;
    position: relative;
}
.tabs__active {
    display: none;
}
.tabs_push ul {
    display: block;
}
.tabs_push li a:hover, .tabs_push li.active a {
    background: #FFFFFF;
    border-radius: 5px;
    color: #000000;
}
.tabs_push li a {
    display: block;
    padding: 10px;
    /* border-bottom: 1px solid #D4D4D4; */
    margin-bottom: 10px;
    margin-left: 13px;
    color: #FFFFFF;
    font-weight: 700;
}
.tab-content_push.active {
    display: block;
    width: 500px;
}
.tab-content_push {
    display: none;
}
.field {
     margin: 0 0 15px;
}
.field .btn {
    width: 100%;
    margin: 15px 0 5px;
}
.btn-google {
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    color: #262626;
    font-size: 14px;
    padding: 15px 0;
    margin: 0 !important;
}
.btn-google svg {
    margin-right: 7px;
}
.field small {
    color: #525252;
    font-size: 12px;
    margin: 5px 0 0;
    display: block;
    font-weight: 400;
}
.field small {
    color: #525252;
    font-size: 12px;
    margin: 5px 0 0;
    display: block;
    font-weight: 400;
}



@media (max-width: 767px) {
    .reg {
        margin: 0 15px;
        display: flex;
        justify-content: center;
    }
    .reg__block {
        width: 345px;
    }
    .back_img_reg {
        width: 345px;
        height: 372px;
        margin: 40px 0;
        background-image: none;
        padding: 0 0 0 50px;
    }
    .img_push_reg {
        width: 130px;
        position: relative;
        left: 41px;
        margin: 0;
        padding: 0;
        bottom: 15px;
        top: 0;
        display: none;
    }
    .registr_title {
        margin: 5px 55px 0px 0px;
        font-size: 18px;
        text-align: center;
    }
    .reg__form {
        background: none;
        box-shadow: unset;
        border-radius: unset;
        padding: 0;
        width: 100%;
        margin-left: 0%;
        display: block;
    }
    .tabs_push {
        margin: 42px 0 0 0;
    }
    .tabs__active {
        display: block;
    }
    .tabs__active a {
        border-bottom: 1px solid #D4D4D4;
        width: 100%;
        display: none;
        padding: 10px;
        color: #04BFCE;
        position: relative;
    }
    .tabs_push ul {
        display: flex;
    }
    .tabs_push li a:hover, .tabs_push li.active a {
        border-bottom: 1px solid #7b30e6;
        color: #000000;
    }
    .tabs_push li a {
        display: block;
        padding: 10px;
        /* border-bottom: 1px solid #D4D4D4; */
        margin-bottom: 10px;
        margin-left: 0;
        color: #c6c6c6;
        font-weight: 700;
        font-size: 10px;
    }
    .tab-content_push.active {
        width: 250px;
    }
    .field {
        margin: 0 0 7px 0;
    }
    .field input {
        width: 100%;
        font-size: 11px;
        padding: 8px 16px;
    }
    .field small a {
        font-size: 7px;
    }
    .field .btn {
        margin: 0;
        font-size: 11px;
    }
    .field small {
        font-size: 7px;
        margin-left: 5px;
    }
}
